<div style="text-align: center">
  <h1>Auto repair market-place in .Net MVC 5 using SQL</h1>
  <img src="../images/otua2.png" class="resizeImageSmall">
  <img src="../images/otua3.png" class="resizeImageSmall">
  <img src="../images/otua4.png" class="resizeImageSmall">
  <img src="../images/otua5.png" class="resizeImageSmall">
  <img src="../images/22-02-2016-06-08-08.png" class="resizeImageSmall">
  <img src="../images/22-02-2016-06-08-20.png" class="resizeImageSmall">
  <div style="padding-top: 50px">
    <h1>This Project on <span><a href=https://github.com/jolive1993/Otua><img src="../images/GitHub-Logo.png" style="height: 50px; width: 200px; align-self: center"class="wow bounceIn"></a></span></h1>

  </div>
</div>
